
<table summary="sentence form fields">         
  <tr>
    <th><%= f.label(:english_sentence) %></th>
    <td><%= f.text_area(:english_sentence) %></td>
  </tr>
  <tr>
    <th><%= f.label(:transliteration_sentence) %></th>
    <td><%= f.text_area(:transliteration_sentence) %></td>
  </tr>
  <tr>
    <th><%= f.label(:translation_sentence) %></th>
    <td><%= f.text_area(:translation_sentence) %></td>
  </tr>

</table>