
<table summary="Word form fields">         
  <tr>
    <th><%= f.label(:english_word) %></th>
    <td><%= f.text_field(:english_word) %></td>
  </tr>
  <tr>
    <th><%= f.label(:part_of_speech) %></th>
    <td><%= f.select "part_of_speech", 
    			raw("<option>noun</option>
    					 <option>pronoun</option>
    					 <option>verb</option>
    					 <option>adjective</option>
    					 <option>adverb</option>
    					 <option>preposition</option>
    					 <option>conjunction</option>
    					 <option>interjection</option>
    				"),
    			multiple: true,
    			class: 'form_input',
    			id: 'unique_id'
    		%>
    				
    </td>
  </tr>
  <tr>
    <th><%= f.label(:transliteration) %></th>
    <td><%= f.text_field(:transliteration) %></td>
  </tr>
  <tr>
    <th><%= f.label(:translation) %></th>
    <td><%= f.text_field(:translation) %></td>
  </tr>
  <tr>
    <th><%= f.label(:pronunciation) %></th>
    <td><%= f.file_field(:pronunciation) %></td>
  </tr>
  <tr>
  	<th><%= f.label(:image) %></th>
  	<td><%= f.file_field(:image) %></td>
  </tr>

</table>