
<table summary="Word form fields">
  <tr>
    <th><%= f.label(:english_word) %></th>
    <td><%= f.text_field(:english_word) %></td>
  </tr>
  <tr>
    <th><%= f.label(:tense) %></th>
    <td><%= f.text_field(:tense) %></td>
  </tr>
  <tr>
    <th><%= f.label(:transliteration) %></th>
    <td><%= f.text_field(:transliteration) %></td>
  </tr>
  <tr>
    <th><%= f.label(:translation) %></th>
    <td><%= f.text_field(:translation) %></td>
  </tr>
  <tr>
    <th><%= f.label(:pronunciation) %></th>
    <td><%= f.text_field(:pronunciation) %></td>
  </tr>
</table>