<h1>Words</h1>

<table class="list" summary="Word List">
	<% @words.each do |word| %>
		<tr>
			<th>English Word</th>
			<th>Part of Speech</th>
			<th>Transliteration</th>
			<th>Translation</th>
			<th>Pronunciation</th>
			<th>Image</th>
		</tr>
		<tr>
			<td><%= word.english_word %></td>
			<td><%= word.part_of_speech %></td>
			<td><%= word.transliteration %></td>
			<td><%= word.translation %></td>
			<td>
				<figure>
					<figcaption>
						Listen to <%= word.translation %>
					</figcaption>
					
				</figure>
			<td><%= image_tag word.image.variant(resize_to_limit: [100, 100]) %></td>
		</tr>
	<% end %>
</table>