<h1>Words</h1>

<h3><%= link_to("Add Word", new_word_path) %></h3>


<table class="list" summary="Word List">
	<tr>
		<th>English Word</th>
		<th>Part of Speech</th>
		<th>Transliteration</th>
		<th>Translation</th>
		<th>Pronunciation</th>
		<th>Image</th>
		<th>Modify</th>
	</tr>
	<% @words.each do |word| %>
		<tr>
			<td><%= word.english_word %></td>
			<td><%= word.part_of_speech %></td>
			<td><%= word.transliteration %></td>
			<td><%= word.translation %></td>
			<td>
				<figure>
					<figcaption>
						Listen to <%= word.translation %>
					</figcaption>
					
				</figure>
			<td><%= image_tag("/app/assets/images/'#{word.english_word}'.jpg") %></td>

		</tr>
	<% end %>
</table>