<h1>Words#index</h1>

<table class="list" summary="Word List">
	<% @words.each do |word| %>
		<tr>
			<td><%= word.english_word %></td>
			<td><%= word.part_of_speech %></td>
			<td><%= word.transliteration %></td>
			<td><%= word.translation %></td>
			<td>
				<figure>
					<figcaption>
						Listen to <%= word.translation %>
					</figcaption>
					<audio controls src="<%= asset_path(/assets/audio/word.english_word) %>"></audio></td>
				</figure>
			<td><%= image_tag word.image.variant(resize_to_limit: [100, 100]) %></td>
		</tr>
	<% end %>
</table>