<%= link_to("<< Back to List", words_path, :class => 'back-link') %>
<h1><%= @word.english_word %></h1>

<table>
	<tr>
		<th>ID</th>
		<th>English Word</th>
		<th>Part of Speech</th>
		<th>Transliteration</th>
		<th>Translation</th>
		<th>Pronunciation</th>
		<th>Image</th>
		<th>Modify</th>
	</tr>
	<tr>
		<td><%= @word.id %></td>
		<td><%= @word.english_word %></td>
		<td><%= @word.part_of_speech %></td>
		<td><%= @word.transliteration %></td>
		<td><%= @word.translation %></td>
		<td><%= audio_tag "#{@word.english_word}.m4a", controls: true %></td>
		<td><%= image_tag	"#{@word.english_word}.jpg" %></td>
		<td><%= link_to("Edit", edit_word_path(@word), :class => 'back-link') %></td>
	</tr>
</table>


			
			
			
			